SERVER_PORT=

DB_HOST=""
DB_USER=""
DB_PASSWORD=""
DB_NAME=""
DB_LOGGING=false
DB_TIMEZONE="Etc/GMT0"

IS_MONGODB_CLUSTER = true;

MONGODB_USER=""
MONGODB_PASSWORD=""
MONGODB_HOST=""
MONGODB_PORT=""
MONGODB_NAME=""

MONGODB_CLUSTER_URL = ""